* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 70%;
}

thead > tr > th {
  background-color: #dadada;
  height: 3rem;
}

td,
th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}
